<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <h1 class="title">El juego de las parejas</h1>
      <div class="op1__container">
        <label for="colorsop1" class="colors__row">
          <input
          class="input1"
          id="colorsop1"
          type="radio"
          value="1"
          name="colors"
          />
      </div>
      <div class="op1__container">
        <label for="colorsop1" class="colors__row">
          <input
          class="input1"
          id="colorsop1"
          type="radio"
          value="1"
          name="colors"
          />
      </div>
      <div class="op1__container">
        <label for="colorsop1" class="colors__row">
          <input
          class="input1"
          id="colorsop1"
          type="radio"
          value="1"
          name="colors"
          />
      </div>
    </body>
    </html>
