<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>El juego de las parejas</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <h1 class="title">El juego de las parejas</h1>
    <div class="op1__container">
      <p>4</p>
      <input class="cards-number input4" type="radio" value="4" name="numbers" />
    </div>
    <div class="op1__container">
      <p>6</p>
      <input class="cards-number input6" type="radio" value="6" name="numbers" />
    </div>
    <div class="op1__container">
      <p>8</p>
      <input class="cards-number input8" type="radio" value="8" name="numbers" />
      <button class="button">Comenzar</button>
    </div>
  </div>
          <div class="cards-space"></div>
  <script src="assets/js/main.js"></script>
</body>
</html>
