<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <h1 class="title">El juego de las parejas</h1>
      <div class="op1__container">
          <p>4</p>
        <label for="colorsop1" class="colors__row">
          <input
          class="input4"
          id=""
          type="radio"
          value="4"
          name="numbers"
          />
      </div>
      <div class="op1__container">
          <p>6</p>
        <label for="colorsop1" class="colors__row">
          <input
          class="input6"
          id=""
          type="radio"
          value="6"
          name="numbers"
          />
      </div>
      <div class="op1__container">
          <p>8</p>
        <label for="colorsop1" class="colors__row">
          <input
          class="input8"
          id=""
          type="radio"
          value="8"
          name="numbers"
          />
          <button class="button">Comenzar</button>
      </div>
    </body>
    </html>
